@media(max-width: 800px){
	header{
		padding:.2rem 2rem;
	}
	.container h1,
	.container p{
	    padding-right: 1rem;
	}
	.container h1{
	    font-size: 1.6rem;		
	}
	.container p {
	    font-size: 1.4rem;
	    margin-top: .9rem;
	}
}

@media(max-width: 470px){
	.nav-button{
	    font-size: 1rem;
	    padding: 6px;	
	}
	.text-container {
    	font-size: 1.3rem;
	}
	.container{
		margin-top: 1rem;
	}
	.summary-img {
	    max-height: 200px;
	}
}
@media(max-width: 414px){
	.gift-container {
	    max-height: 46vh;
	    overflow-x: auto;
	}
}
@media(max-width: 320px){
	header{
		padding:.2rem;
	}
	.container h1,
	.container p{
	    padding-right: .2rem;
	}
	.container p{
	    margin-top:0;
	    margin-bottom: 0;
	}
	.login-page > span {
	    font-size: 3rem;;
	}
	.gift-container {
	    max-height: 39vh;
	    overflow-x: auto;
	    margin-top: 1rem;
	}
	.summary-img {
	    max-height: 180px;
	}
}

@media (width:360px) and (height:640px){
	.summary-img {
    	max-height: 230px;
	}
	.gift-container {
	    max-height: 44vh;
	}
}
